<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>星矢的个人主页</title>
	<link rel="stylesheet" type="text/css" href="/static/css/app.css">
</head>

<body>
<h1 class="name_title">星矢</h1>
<hr>  <!-- 分割水平线 -->
<img class="head" src="/static/img/B17423.JPG">
<h2>个人简介：</h2>
<hr>
<p class="descr">90后，金牛座，女，风风火火的行动派。</p>
<p class="descr">背负着独生女的压力，也不曾搁置自己的梦想。希望既能朝九晚五，又能浪迹天涯。</p>
<p class="descr">不忘初心，砥砺前行。</p>
<p class="descr">stay hungry, stay young.</p>
<a href="http://blog.csdn.net/misssea0815" target="_blank">访问我的csdn博客</a>   <!-- 新窗口打开链接 -->
</body>
</html>